.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__rDljQ {
  position: relative;
  height: 1em;
}
.svg__uys9N {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-tMilkOK1BC4I);
  display: block;
  color: var(--token-tQWjGoYl6Mdp);
  font-family: var(--token-ox45E01dgj3G);
  font-size: var(--token-Sks-ERlD4yf7);
  line-height: var(--token-IwJXRlL21nBQ);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-P3kKsMOnIzfN);
}
.pcls_YxUmGBejwJT7 {
  background: var(--token-4AS4gApKaiiO);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__adb1N {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-pvqY6V9GaAKe);
  min-width: 0;
  padding: var(--token-gMLx3gkv73zU);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-gMLx3gkv73zU);
  padding-right: var(--token-gMLx3gkv73zU);
}
.freeBox__lyfim {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__lyfim > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-LQeH3CT5EguS));
  height: calc(100% + var(--token-LQeH3CT5EguS));
}
.freeBox__lyfim > :global(.__wab_flex-container) > *,
.freeBox__lyfim > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lyfim > :global(.__wab_flex-container) > picture > img,
.freeBox__lyfim
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-LQeH3CT5EguS);
}
.text__kxtkq {
  position: relative;
}
.freeBox___1FEoe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-gMLx3gkv73zU);
}
.svg__lkIwy {
  position: relative;
  height: 1em;
}
.text___3KkGu {
  padding-left: 0px;
}
.svg__bq4GR {
  position: relative;
  height: 1em;
}
