.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-P3q4aCH0pBgT);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-6prbz8P8quxd);
  font-family: "Source Sans 3", sans-serif;
  font-size: var(--token-Sks-ERlD4yf7);
  line-height: var(--token-IwJXRlL21nBQ);
  outline-style: none;
  text-decoration-line: none;
  color: var(--token-tQWjGoYl6Mdp);
  font-weight: 500;
  border-radius: var(--token-GHU777uGwY8R);
  padding: 0rem;
  border-width: 0px;
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-X5mU4Q8J-a7k);
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-3iYyU-Xjtr9V);
  outline-offset: 1px;
  outline-color: var(--token-NMTUfWqzy3UM);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-shYgVjY2FzLr);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-NwlZEJjhb9qG);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-Peh3odOt4wDg);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-OA-3piqXQV9U);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-ZRdM7P4REUFv);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-PpF7H_BH3PHA);
  font-size: var(--token-kzxA-EmI-CJH);
  column-gap: var(--token-3iYyU-Xjtr9V);
  row-gap: 0px;
  border-radius: var(--token-sbXRjqNC-H5e);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-kzxA-EmI-CJH);
  line-height: var(--token-PpF7H_BH3PHA);
  column-gap: var(--token-sbXRjqNC-H5e);
  row-gap: 0px;
  border-radius: var(--token-sbXRjqNC-H5e);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-pvqY6V9GaAKe);
  line-height: var(--token-ZVbeCanRpo3k);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-pvqY6V9GaAKe);
  line-height: var(--token-ZVbeCanRpo3k);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-4Cz-MSHVeqrl);
  border-radius: var(--token-GHU777uGwY8R);
}
.softBackgroundcolor_neutral {
  background: var(--token-O_pQydclAi5a);
}
.softBackgroundcolor_muted {
  background: var(--token-z6EJ6W-322uC);
}
.softBackgroundcolor_success {
  background: var(--token-0ebOfBJ7adPa);
}
.softBackgroundcolor_warning {
  background: var(--token-jFtBcdLqyAn9);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-MbrMdjuQUbZo);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-GHU777uGwY8R);
  border: 0px solid var(--token-a6C9E350nKpW);
}
.bordercolor_neutral {
  border-color: var(--token-C3uMj9UMsS6x);
}
.bordercolor_muted {
  border-color: var(--token-_a9rLo62BBJy);
}
.bordercolor_success {
  border-color: var(--token-WeklGAfHlUg0);
}
.bordercolor_warning {
  border-color: var(--token-yYNpYpGN4LGq);
}
.bordercolor_errorDestructive {
  border-color: var(--token-X06pO6I-v01v);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-GHU777uGwY8R);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-fOZF9sdv8jQM);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-ecjpXt1gM2aA);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-rTOhu8lfTcbJ);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___8Imxa {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-GHU777uGwY8R) var(--token-J1G06o9PEgRw);
}
.freeBox___8Imxa > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-GHU777uGwY8R));
  width: calc(100% + var(--token-GHU777uGwY8R));
}
.freeBox___8Imxa > :global(.__wab_flex-container) > *,
.freeBox___8Imxa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Imxa > :global(.__wab_flex-container) > picture > img,
.freeBox___8Imxa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-GHU777uGwY8R);
}
.freeBoxsize_extraSmall___8ImxaIaBid {
  padding: var(--token-sbXRjqNC-H5e) var(--token-GHU777uGwY8R);
}
.freeBoxsize_small___8ImxadXBw {
  padding: var(--token-GHU777uGwY8R) var(--token-6prbz8P8quxd);
}
.freeBoxsize_large___8ImxaylVz8 {
  padding-top: var(--token-sbXRjqNC-H5e);
  padding-bottom: var(--token-sbXRjqNC-H5e);
}
.freeBoxsize_extraLarge___8ImxahTCi {
  padding-left: var(--token-LQeH3CT5EguS);
  padding-right: var(--token-LQeH3CT5EguS);
}
.freeBoxroundedFull___8ImxajdFd3 {
  padding-right: var(--token-LQeH3CT5EguS);
  padding-left: var(--token-LQeH3CT5EguS);
}
.freeBox___7Fl2Q {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___7Fl2Q4Jp7E {
  display: flex;
}
.slotTargetStart {
  color: var(--token-BTElKD6kqjHL);
}
.slotTargetStartcolor_neutral {
  color: var(--token-P8hDNMxlGUOr);
}
.slotTargetStartcolor_muted {
  color: var(--token-CHtMoQWuR4dd);
}
.slotTargetStartcolor_success {
  color: var(--token-ljL8yHiu___C);
}
.slotTargetStartcolor_warning {
  color: var(--token-1XFcDgvFd8VQ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-oMhHLlCEU6k6);
}
.slotTargetStarttype_soft {
  color: var(--token-P3q4aCH0pBgT);
}
.slotTargetStarttype_bordered {
  color: var(--token-P3q4aCH0pBgT);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-kzxA-EmI-CJH);
}
.slotTargetStartsize_small {
  font-size: var(--token-kzxA-EmI-CJH);
}
.slotTargetStartsize_large {
  font-size: var(--token-pvqY6V9GaAKe);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-pvqY6V9GaAKe);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-LvB4C3PIUVBB);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-LvB4C3PIUVBB);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-WxJOvxI4l8AH);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-WxJOvxI4l8AH);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-F50_Ieo0Kh3-);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-F50_Ieo0Kh3-);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-jfzr0UECQpBN);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-jfzr0UECQpBN);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-gRMqgFGgZJ-j);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-gRMqgFGgZJ-j);
}
.svg__foYvI {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-BTElKD6kqjHL);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-P8hDNMxlGUOr);
}
.slotTargetLabelcolor_muted {
  color: var(--token-CHtMoQWuR4dd);
}
.slotTargetLabelcolor_success {
  color: var(--token-ljL8yHiu___C);
}
.slotTargetLabelcolor_warning {
  color: var(--token-1XFcDgvFd8VQ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-oMhHLlCEU6k6);
}
.slotTargetLabeltype_soft {
  color: var(--token-P3q4aCH0pBgT);
}
.slotTargetLabeltype_bordered {
  color: var(--token-P3q4aCH0pBgT);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-LvB4C3PIUVBB);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-WxJOvxI4l8AH);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-LvB4C3PIUVBB);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-F50_Ieo0Kh3-);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-WxJOvxI4l8AH);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-jfzr0UECQpBN);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-F50_Ieo0Kh3-);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-gRMqgFGgZJ-j);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-jfzr0UECQpBN);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-gRMqgFGgZJ-j);
}
.text__e7Awc {
  white-space: pre;
  color: var(--token-tMilkOK1BC4I);
}
.freeBox__bogLv {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__bogLvIwym6 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-BTElKD6kqjHL);
}
.slotTargetEndcolor_neutral {
  color: var(--token-P8hDNMxlGUOr);
}
.slotTargetEndcolor_muted {
  color: var(--token-CHtMoQWuR4dd);
}
.slotTargetEndcolor_success {
  color: var(--token-ljL8yHiu___C);
}
.slotTargetEndcolor_warning {
  color: var(--token-1XFcDgvFd8VQ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-oMhHLlCEU6k6);
}
.slotTargetEndtype_soft {
  color: var(--token-P3q4aCH0pBgT);
}
.slotTargetEndtype_bordered {
  color: var(--token-P3q4aCH0pBgT);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-kzxA-EmI-CJH);
}
.slotTargetEndsize_small {
  font-size: var(--token-kzxA-EmI-CJH);
}
.slotTargetEndsize_large {
  font-size: var(--token-pvqY6V9GaAKe);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-pvqY6V9GaAKe);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-LvB4C3PIUVBB);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-LvB4C3PIUVBB);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-WxJOvxI4l8AH);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-WxJOvxI4l8AH);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-F50_Ieo0Kh3-);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-F50_Ieo0Kh3-);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-jfzr0UECQpBN);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-jfzr0UECQpBN);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-gRMqgFGgZJ-j);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-gRMqgFGgZJ-j);
}
.svg___6RhC {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
