.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-tQWjGoYl6Mdp);
  font-family: var(--token-ox45E01dgj3G);
  font-size: var(--token-Sks-ERlD4yf7);
  line-height: var(--token-IwJXRlL21nBQ);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-6prbz8P8quxd);
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__zdpXo {
  display: flex;
  position: relative;
  width: var(--token-T5g_3YZotVIP);
  height: var(--token-T5g_3YZotVIP);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-sONXpFGvN6bG);
}
.ariaRadio[data-selected] .freeBox__zdpXo {
  background: var(--token-NMTUfWqzy3UM);
  border-color: var(--token-NMTUfWqzy3UM);
}
.ariaRadio[data-focus-visible] .freeBox__zdpXo {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-NMTUfWqzy3UM);
  outline-width: 2px;
}
.freeBox__byBTk {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__byBTk {
  width: var(--token-GHU777uGwY8R);
  height: var(--token-GHU777uGwY8R);
  flex-shrink: 0;
  display: block;
}
