.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-tQWjGoYl6Mdp);
  font-family: var(--token-ox45E01dgj3G);
  font-size: var(--token-Sks-ERlD4yf7);
  line-height: var(--token-IwJXRlL21nBQ);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-sbXRjqNC-H5e);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-kzxA-EmI-CJH);
  line-height: var(--token-PpF7H_BH3PHA);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-pvqY6V9GaAKe);
  line-height: var(--token-ZVbeCanRpo3k);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-WGPIXSkYEGAc);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-ZRdM7P4REUFv);
  display: block;
}
