.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-tMilkOK1BC4I);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-o0Nl0Hefncwa);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ZRdM7P4REUFv);
  cursor: pointer;
  height: 1em;
}
