.root:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nnYb {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-P3kKsMOnIzfN);
}
.freeBox__nnYb > * {
  grid-column: 4;
}
.freeBox__v91B8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox__hYhH5 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8px;
  row-gap: 5px;
  min-height: 0;
  padding: 0px;
}
.h5 {
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__jLp1X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.button__ea9N7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___16YkB {
  position: relative;
  height: 1em;
}
.text__tLdDi {
  white-space: pre;
}
.svg__hlDm {
  position: relative;
  height: 1em;
}
.freeBox__jfrCw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jfrCw {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.allQuizzesTable:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 2px;
}
.freeBox___00BIn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox___6CkEr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.quizHeading:global(.__wab_instance) {
  position: relative;
}
.freeBox__ammZv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.customAccordionItem:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: var(--token-BTElKD6kqjHL);
  min-width: 0;
}
.newQuestionForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 0px;
}
.button__cdgM6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__z7TgW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__dhb9M {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.svg__rnZfy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-P3q4aCH0pBgT);
  height: 1em;
  flex-shrink: 0;
}
.deleteQuestionModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jAwn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___04DFb {
  text-align: center;
}
.freeBox___0CS {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.svg___5JgZr {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: var(--token-ZRdM7P4REUFv);
  flex-shrink: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.form2:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 0px;
}
.button__rudas:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6Jhv6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Source Sans 3", sans-serif;
  min-width: 0;
}
.text__tI7Qn {
  font-family: "BR Firma";
}
.section {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.unauthorized:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
