@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-NANCd_f9Z6JF: #23237a;
  --plasmic-token-primary-50: var(--token-NANCd_f9Z6JF);
  --token-0eb2dBAXsrly: var(--antd-fontSizeHeading1);
  --plasmic-token-system-heading-1: var(--token-0eb2dBAXsrly);
  --token-ewwWr5sTdrhX: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-ewwWr5sTdrhX);
  --token-wWaz9HBLiQgW: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token-wWaz9HBLiQgW);
  --token-NMTUfWqzy3UM: #2563eb;
  --plasmic-token-brand-brand: var(--token-NMTUfWqzy3UM);
  --token-6prbz8P8quxd: 0.5rem;
  --plasmic-token-size-8: var(--token-6prbz8P8quxd);
  --token-ox45E01dgj3G: Inter;
  --plasmic-token-sans-serif: var(--token-ox45E01dgj3G);
  --token-Sks-ERlD4yf7: 1rem;
  --plasmic-token-font-md: var(--token-Sks-ERlD4yf7);
  --token-IwJXRlL21nBQ: 1.25;
  --plasmic-token-line-height-md: var(--token-IwJXRlL21nBQ);
  --token-GHU777uGwY8R: 0.375rem;
  --plasmic-token-size-6: var(--token-GHU777uGwY8R);
  --token-shYgVjY2FzLr: #374151;
  --plasmic-token-neutral-neutral: var(--token-shYgVjY2FzLr);
  --token-ZRdM7P4REUFv: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-ZRdM7P4REUFv);
  --token-NwlZEJjhb9qG: #6b7280;
  --plasmic-token-muted-muted: var(--token-NwlZEJjhb9qG);
  --token-sbXRjqNC-H5e: 0.25rem;
  --plasmic-token-size-4: var(--token-sbXRjqNC-H5e);
  --token-kzxA-EmI-CJH: 0.75rem;
  --plasmic-token-font-sm: var(--token-kzxA-EmI-CJH);
  --token-PpF7H_BH3PHA: 1;
  --plasmic-token-line-height-sm: var(--token-PpF7H_BH3PHA);
  --token-pvqY6V9GaAKe: 1.25rem;
  --plasmic-token-font-lg: var(--token-pvqY6V9GaAKe);
  --token-ZVbeCanRpo3k: 1.4;
  --plasmic-token-line-height-lg: var(--token-ZVbeCanRpo3k);
  --token-3iYyU-Xjtr9V: 0.125rem;
  --plasmic-token-size-2: var(--token-3iYyU-Xjtr9V);
  --token-Peh3odOt4wDg: #16a34a;
  --plasmic-token-success-success: var(--token-Peh3odOt4wDg);
  --token-OA-3piqXQV9U: #facc15;
  --plasmic-token-warning-warning: var(--token-OA-3piqXQV9U);
  --token-4Cz-MSHVeqrl: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-4Cz-MSHVeqrl);
  --token-O_pQydclAi5a: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-O_pQydclAi5a);
  --token-z6EJ6W-322uC: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-z6EJ6W-322uC);
  --token-0ebOfBJ7adPa: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-0ebOfBJ7adPa);
  --token-jFtBcdLqyAn9: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-jFtBcdLqyAn9);
  --token-MbrMdjuQUbZo: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-MbrMdjuQUbZo);
  --token-a6C9E350nKpW: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-a6C9E350nKpW);
  --token-C3uMj9UMsS6x: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-C3uMj9UMsS6x);
  --token-_a9rLo62BBJy: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-_a9rLo62BBJy);
  --token-WeklGAfHlUg0: #86efac;
  --plasmic-token-success-success-border: var(--token-WeklGAfHlUg0);
  --token-yYNpYpGN4LGq: #fde047;
  --plasmic-token-warning-warning-border: var(--token-yYNpYpGN4LGq);
  --token-X06pO6I-v01v: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-X06pO6I-v01v);
  --token-fOZF9sdv8jQM: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-fOZF9sdv8jQM);
  --token-ecjpXt1gM2aA: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-ecjpXt1gM2aA);
  --token-rTOhu8lfTcbJ: #00000033;
  --plasmic-token-interaction-pressed: var(--token-rTOhu8lfTcbJ);
  --token-J1G06o9PEgRw: 0.625rem;
  --plasmic-token-size-10: var(--token-J1G06o9PEgRw);
  --token-LQeH3CT5EguS: 0.75rem;
  --plasmic-token-size-12: var(--token-LQeH3CT5EguS);
  --token-BTElKD6kqjHL: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-BTElKD6kqjHL);
  --token-P8hDNMxlGUOr: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-P8hDNMxlGUOr);
  --token-CHtMoQWuR4dd: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-CHtMoQWuR4dd);
  --token-P3q4aCH0pBgT: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-P3q4aCH0pBgT);
  --token-1XFcDgvFd8VQ: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-1XFcDgvFd8VQ);
  --token-ljL8yHiu___C: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-ljL8yHiu___C);
  --token-oMhHLlCEU6k6: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-oMhHLlCEU6k6);
  --token-LvB4C3PIUVBB: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-LvB4C3PIUVBB);
  --token-WxJOvxI4l8AH: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-WxJOvxI4l8AH);
  --token-F50_Ieo0Kh3-: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-F50_Ieo0Kh3-);
  --token-jfzr0UECQpBN: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-jfzr0UECQpBN);
  --token-gRMqgFGgZJ-j: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-gRMqgFGgZJ-j
  );
  --token-tQWjGoYl6Mdp: #030712;
  --plasmic-token-basic-text-primary: var(--token-tQWjGoYl6Mdp);
  --token-WGPIXSkYEGAc: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-WGPIXSkYEGAc);
  --token-T5g_3YZotVIP: 1.25rem;
  --plasmic-token-size-20: var(--token-T5g_3YZotVIP);
  --token-sONXpFGvN6bG: #9ca3af;
  --plasmic-token-basic-ring: var(--token-sONXpFGvN6bG);
  --token-tMilkOK1BC4I: #ffffff;
  --plasmic-token-basic-container-background: var(--token-tMilkOK1BC4I);
  --token-P3kKsMOnIzfN: 1rem;
  --plasmic-token-size-16: var(--token-P3kKsMOnIzfN);
  --token-4AS4gApKaiiO: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-4AS4gApKaiiO);
  --token-gMLx3gkv73zU: 1.5rem;
  --plasmic-token-size-24: var(--token-gMLx3gkv73zU);
  --token-X5mU4Q8J-a7k: #55dabe;
  --plasmic-token-secondary-50: var(--token-X5mU4Q8J-a7k);
  --token-sRJjOIyCNKw0: #39917f;
  --plasmic-token-secondary-70: var(--token-sRJjOIyCNKw0);
  --token-9Su_DvlOlmln: #47b69e;
  --plasmic-token-secondary-60: var(--token-9Su_DvlOlmln);
  --token-LjrU9j6J4yqa: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-LjrU9j6J4yqa);
  --token-q3EK4_J8RLHi: 2rem;
  --plasmic-token-size-32: var(--token-q3EK4_J8RLHi);
  --token-mlj-9bxuj9Wc: #d1d5db;
  --plasmic-token-basic-border: var(--token-mlj-9bxuj9Wc);
  --token-7vdXsMj5ltKl: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-7vdXsMj5ltKl);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-okr22vgvIJUg_font-family: "Source Sans 3", sans-serif;
  --mixin-okr22vgvIJUg_font-size: 16px;
  --mixin-okr22vgvIJUg_font-weight: 400;
  --mixin-okr22vgvIJUg_font-style: normal;
  --mixin-okr22vgvIJUg_color: #535353;
  --mixin-okr22vgvIJUg_text-align: left;
  --mixin-okr22vgvIJUg_text-transform: none;
  --mixin-okr22vgvIJUg_line-height: 1.5;
  --mixin-okr22vgvIJUg_letter-spacing: normal;
  --mixin-okr22vgvIJUg_white-space: pre-wrap;
  --mixin-okr22vgvIJUg_user-select: text;
  --mixin-okr22vgvIJUg_text-decoration-line: none;
  --mixin-okr22vgvIJUg_text-overflow: clip;
  --mixin-gcQX_oYGRUOp_color: #000000;
  --mixin-gcQX_oYGRUOp_font-weight: 700;
  --mixin-gcQX_oYGRUOp_font-size: 64px;
  --mixin-gcQX_oYGRUOp_line-height: 1;
  --mixin-gcQX_oYGRUOp_letter-spacing: -1px;
  --mixin-gcQX_oYGRUOp_font-family: "BR Firma";
  --mixin-gcQX_oYGRUOp_white-space: pre-wrap;
  --mixin-d7Dbx45KA8PD_color: #000000;
  --mixin-d7Dbx45KA8PD_font-size: 48px;
  --mixin-d7Dbx45KA8PD_font-weight: 700;
  --mixin-d7Dbx45KA8PD_letter-spacing: -0.5px;
  --mixin-d7Dbx45KA8PD_line-height: 1.1;
  --mixin-d7Dbx45KA8PD_font-family: "BR Firma";
  --mixin-d7Dbx45KA8PD_white-space: pre-wrap;
  --mixin-mEauvSC-jSUf_color: var(--token-9Su_DvlOlmln);
  --mixin-mEauvSC-jSUf_font-weight: 600;
  --mixin-mEauvSC-jSUf_white-space: pre-wrap;
  --mixin-yfZrcPnavxFB_color: #000000;
  --mixin-yfZrcPnavxFB_font-size: 32px;
  --mixin-yfZrcPnavxFB_font-weight: 600;
  --mixin-yfZrcPnavxFB_line-height: 1.2;
  --mixin-yfZrcPnavxFB_font-family: "BR Firma";
  --mixin-yfZrcPnavxFB_white-space: pre-wrap;
  --mixin-W_hku1KISMzQ_color: #000000;
  --mixin-W_hku1KISMzQ_font-size: 24px;
  --mixin-W_hku1KISMzQ_font-weight: 600;
  --mixin-W_hku1KISMzQ_line-height: 1.3;
  --mixin-W_hku1KISMzQ_white-space: pre-wrap;
  --mixin-64FltppGkK7h_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-64FltppGkK7h_border-bottom-color: #dddddd;
  --mixin-64FltppGkK7h_border-bottom-style: solid;
  --mixin-64FltppGkK7h_border-bottom-width: 1px;
  --mixin-64FltppGkK7h_border-left-color: #dddddd;
  --mixin-64FltppGkK7h_border-left-style: solid;
  --mixin-64FltppGkK7h_border-left-width: 1px;
  --mixin-64FltppGkK7h_border-right-color: #dddddd;
  --mixin-64FltppGkK7h_border-right-style: solid;
  --mixin-64FltppGkK7h_border-right-width: 1px;
  --mixin-64FltppGkK7h_border-top-color: #dddddd;
  --mixin-64FltppGkK7h_border-top-style: solid;
  --mixin-64FltppGkK7h_border-top-width: 1px;
  --mixin-64FltppGkK7h_border-bottom-left-radius: 3px;
  --mixin-64FltppGkK7h_border-bottom-right-radius: 3px;
  --mixin-64FltppGkK7h_border-top-left-radius: 3px;
  --mixin-64FltppGkK7h_border-top-right-radius: 3px;
  --mixin-64FltppGkK7h_font-family: "Inconsolata";
  --mixin-64FltppGkK7h_padding-bottom: 1px;
  --mixin-64FltppGkK7h_padding-left: 4px;
  --mixin-64FltppGkK7h_padding-right: 4px;
  --mixin-64FltppGkK7h_padding-top: 1px;
  --mixin-64FltppGkK7h_white-space: pre-wrap;
  --mixin-3_4v-dg2Zsey_border-left-color: #dddddd;
  --mixin-3_4v-dg2Zsey_border-left-style: solid;
  --mixin-3_4v-dg2Zsey_border-left-width: 3px;
  --mixin-3_4v-dg2Zsey_color: #888888;
  --mixin-3_4v-dg2Zsey_padding-left: 10px;
  --mixin-3_4v-dg2Zsey_white-space: pre-wrap;
  --mixin-Tc0CNUhh8NXF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Tc0CNUhh8NXF_border-bottom-color: #dddddd;
  --mixin-Tc0CNUhh8NXF_border-bottom-style: solid;
  --mixin-Tc0CNUhh8NXF_border-bottom-width: 1px;
  --mixin-Tc0CNUhh8NXF_border-left-color: #dddddd;
  --mixin-Tc0CNUhh8NXF_border-left-style: solid;
  --mixin-Tc0CNUhh8NXF_border-left-width: 1px;
  --mixin-Tc0CNUhh8NXF_border-right-color: #dddddd;
  --mixin-Tc0CNUhh8NXF_border-right-style: solid;
  --mixin-Tc0CNUhh8NXF_border-right-width: 1px;
  --mixin-Tc0CNUhh8NXF_border-top-color: #dddddd;
  --mixin-Tc0CNUhh8NXF_border-top-style: solid;
  --mixin-Tc0CNUhh8NXF_border-top-width: 1px;
  --mixin-Tc0CNUhh8NXF_border-bottom-left-radius: 3px;
  --mixin-Tc0CNUhh8NXF_border-bottom-right-radius: 3px;
  --mixin-Tc0CNUhh8NXF_border-top-left-radius: 3px;
  --mixin-Tc0CNUhh8NXF_border-top-right-radius: 3px;
  --mixin-Tc0CNUhh8NXF_font-family: "Inconsolata";
  --mixin-Tc0CNUhh8NXF_padding-bottom: 3px;
  --mixin-Tc0CNUhh8NXF_padding-left: 6px;
  --mixin-Tc0CNUhh8NXF_padding-right: 6px;
  --mixin-Tc0CNUhh8NXF_padding-top: 3px;
  --mixin-Tc0CNUhh8NXF_white-space: pre-wrap;
  --mixin-tY3CQfMDw0Tq_display: flex;
  --mixin-tY3CQfMDw0Tq_flex-direction: column;
  --mixin-tY3CQfMDw0Tq_align-items: stretch;
  --mixin-tY3CQfMDw0Tq_justify-content: flex-start;
  --mixin-tY3CQfMDw0Tq_list-style-position: outside;
  --mixin-tY3CQfMDw0Tq_padding-left: 40px;
  --mixin-tY3CQfMDw0Tq_position: relative;
  --mixin-tY3CQfMDw0Tq_list-style-type: disc;
  --mixin-tY3CQfMDw0Tq_white-space: pre-wrap;
  --mixin-oeZQ_1_tya0g_display: flex;
  --mixin-oeZQ_1_tya0g_flex-direction: column;
  --mixin-oeZQ_1_tya0g_align-items: stretch;
  --mixin-oeZQ_1_tya0g_justify-content: flex-start;
  --mixin-oeZQ_1_tya0g_list-style-position: outside;
  --mixin-oeZQ_1_tya0g_padding-left: 40px;
  --mixin-oeZQ_1_tya0g_position: relative;
  --mixin-oeZQ_1_tya0g_list-style-type: decimal;
  --mixin-oeZQ_1_tya0g_white-space: pre-wrap;
  --mixin-MGgO9IatSXIy_color: #000000;
  --mixin-MGgO9IatSXIy_font-size: 20px;
  --mixin-MGgO9IatSXIy_font-weight: 600;
  --mixin-MGgO9IatSXIy_line-height: 1.5;
  --mixin-MGgO9IatSXIy_white-space: pre-wrap;
  --mixin-T5UjuUfaMIgo_color: #000000;
  --mixin-T5UjuUfaMIgo_font-size: 16px;
  --mixin-T5UjuUfaMIgo_font-weight: 600;
  --mixin-T5UjuUfaMIgo_line-height: 1.5;
  --mixin-T5UjuUfaMIgo_white-space: pre-wrap;
  --mixin-wOts5thqV0B8_color: var(--token-sRJjOIyCNKw0);
  --mixin-wOts5thqV0B8_white-space: pre-wrap;
  --mixin-VpxryMwdRuuj_white-space: pre-wrap;
  --mixin-4Bno1OuYvgXK_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-wdkHgFGpEMPQ_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-wdkHgFGpEMPQ_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-okr22vgvIJUg_font-family);
  font-size: var(--mixin-okr22vgvIJUg_font-size);
  font-weight: var(--mixin-okr22vgvIJUg_font-weight);
  font-style: var(--mixin-okr22vgvIJUg_font-style);
  color: var(--mixin-okr22vgvIJUg_color);
  text-align: var(--mixin-okr22vgvIJUg_text-align);
  text-transform: var(--mixin-okr22vgvIJUg_text-transform);
  line-height: var(--mixin-okr22vgvIJUg_line-height);
  letter-spacing: var(--mixin-okr22vgvIJUg_letter-spacing);
  white-space: var(--mixin-okr22vgvIJUg_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-gcQX_oYGRUOp_color);
  font-weight: var(--mixin-gcQX_oYGRUOp_font-weight);
  font-size: var(--mixin-gcQX_oYGRUOp_font-size);
  line-height: var(--mixin-gcQX_oYGRUOp_line-height);
  letter-spacing: var(--mixin-gcQX_oYGRUOp_letter-spacing);
  font-family: var(--mixin-gcQX_oYGRUOp_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-d7Dbx45KA8PD_color);
  font-size: var(--mixin-d7Dbx45KA8PD_font-size);
  font-weight: var(--mixin-d7Dbx45KA8PD_font-weight);
  letter-spacing: var(--mixin-d7Dbx45KA8PD_letter-spacing);
  line-height: var(--mixin-d7Dbx45KA8PD_line-height);
  font-family: var(--mixin-d7Dbx45KA8PD_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-mEauvSC-jSUf_color);
  font-weight: var(--mixin-mEauvSC-jSUf_font-weight);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-yfZrcPnavxFB_color);
  font-size: var(--mixin-yfZrcPnavxFB_font-size);
  font-weight: var(--mixin-yfZrcPnavxFB_font-weight);
  line-height: var(--mixin-yfZrcPnavxFB_line-height);
  font-family: var(--mixin-yfZrcPnavxFB_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-W_hku1KISMzQ_color);
  font-size: var(--mixin-W_hku1KISMzQ_font-size);
  font-weight: var(--mixin-W_hku1KISMzQ_font-weight);
  line-height: var(--mixin-W_hku1KISMzQ_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-64FltppGkK7h_font-family);
  border-radius: var(--mixin-64FltppGkK7h_border-top-left-radius)
    var(--mixin-64FltppGkK7h_border-top-right-radius)
    var(--mixin-64FltppGkK7h_border-bottom-right-radius)
    var(--mixin-64FltppGkK7h_border-bottom-left-radius);
  padding: var(--mixin-64FltppGkK7h_padding-top)
    var(--mixin-64FltppGkK7h_padding-right)
    var(--mixin-64FltppGkK7h_padding-bottom)
    var(--mixin-64FltppGkK7h_padding-left);
  border-top: var(--mixin-64FltppGkK7h_border-top-width)
    var(--mixin-64FltppGkK7h_border-top-style)
    var(--mixin-64FltppGkK7h_border-top-color);
  border-right: var(--mixin-64FltppGkK7h_border-right-width)
    var(--mixin-64FltppGkK7h_border-right-style)
    var(--mixin-64FltppGkK7h_border-right-color);
  border-bottom: var(--mixin-64FltppGkK7h_border-bottom-width)
    var(--mixin-64FltppGkK7h_border-bottom-style)
    var(--mixin-64FltppGkK7h_border-bottom-color);
  border-left: var(--mixin-64FltppGkK7h_border-left-width)
    var(--mixin-64FltppGkK7h_border-left-style)
    var(--mixin-64FltppGkK7h_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-3_4v-dg2Zsey_color);
  padding-left: var(--mixin-3_4v-dg2Zsey_padding-left);
  border-left: var(--mixin-3_4v-dg2Zsey_border-left-width)
    var(--mixin-3_4v-dg2Zsey_border-left-style)
    var(--mixin-3_4v-dg2Zsey_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Tc0CNUhh8NXF_font-family);
  border-radius: var(--mixin-Tc0CNUhh8NXF_border-top-left-radius)
    var(--mixin-Tc0CNUhh8NXF_border-top-right-radius)
    var(--mixin-Tc0CNUhh8NXF_border-bottom-right-radius)
    var(--mixin-Tc0CNUhh8NXF_border-bottom-left-radius);
  padding: var(--mixin-Tc0CNUhh8NXF_padding-top)
    var(--mixin-Tc0CNUhh8NXF_padding-right)
    var(--mixin-Tc0CNUhh8NXF_padding-bottom)
    var(--mixin-Tc0CNUhh8NXF_padding-left);
  border-top: var(--mixin-Tc0CNUhh8NXF_border-top-width)
    var(--mixin-Tc0CNUhh8NXF_border-top-style)
    var(--mixin-Tc0CNUhh8NXF_border-top-color);
  border-right: var(--mixin-Tc0CNUhh8NXF_border-right-width)
    var(--mixin-Tc0CNUhh8NXF_border-right-style)
    var(--mixin-Tc0CNUhh8NXF_border-right-color);
  border-bottom: var(--mixin-Tc0CNUhh8NXF_border-bottom-width)
    var(--mixin-Tc0CNUhh8NXF_border-bottom-style)
    var(--mixin-Tc0CNUhh8NXF_border-bottom-color);
  border-left: var(--mixin-Tc0CNUhh8NXF_border-left-width)
    var(--mixin-Tc0CNUhh8NXF_border-left-style)
    var(--mixin-Tc0CNUhh8NXF_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-tY3CQfMDw0Tq_display);
  flex-direction: var(--mixin-tY3CQfMDw0Tq_flex-direction);
  align-items: var(--mixin-tY3CQfMDw0Tq_align-items);
  justify-content: var(--mixin-tY3CQfMDw0Tq_justify-content);
  list-style-position: var(--mixin-tY3CQfMDw0Tq_list-style-position);
  padding-left: var(--mixin-tY3CQfMDw0Tq_padding-left);
  position: var(--mixin-tY3CQfMDw0Tq_position);
  list-style-type: var(--mixin-tY3CQfMDw0Tq_list-style-type);
  column-gap: var(--mixin-tY3CQfMDw0Tq_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-oeZQ_1_tya0g_display);
  flex-direction: var(--mixin-oeZQ_1_tya0g_flex-direction);
  align-items: var(--mixin-oeZQ_1_tya0g_align-items);
  justify-content: var(--mixin-oeZQ_1_tya0g_justify-content);
  list-style-position: var(--mixin-oeZQ_1_tya0g_list-style-position);
  padding-left: var(--mixin-oeZQ_1_tya0g_padding-left);
  position: var(--mixin-oeZQ_1_tya0g_position);
  list-style-type: var(--mixin-oeZQ_1_tya0g_list-style-type);
  column-gap: var(--mixin-oeZQ_1_tya0g_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-MGgO9IatSXIy_color);
  font-size: var(--mixin-MGgO9IatSXIy_font-size);
  font-weight: var(--mixin-MGgO9IatSXIy_font-weight);
  line-height: var(--mixin-MGgO9IatSXIy_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-T5UjuUfaMIgo_color);
  font-size: var(--mixin-T5UjuUfaMIgo_font-size);
  font-weight: var(--mixin-T5UjuUfaMIgo_font-weight);
  line-height: var(--mixin-T5UjuUfaMIgo_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-wOts5thqV0B8_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
