.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-mlj-9bxuj9Wc);
  font-size: var(--token-Sks-ERlD4yf7);
  line-height: var(--token-IwJXRlL21nBQ);
  width: 100%;
  color: var(--token-tQWjGoYl6Mdp);
  font-family: var(--token-ox45E01dgj3G);
  min-width: 0;
  border-radius: var(--token-GHU777uGwY8R);
  padding: var(--token-GHU777uGwY8R) var(--token-J1G06o9PEgRw);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-NMTUfWqzy3UM);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-z6EJ6W-322uC);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-7vdXsMj5ltKl);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-z6EJ6W-322uC);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-q3EK4_J8RLHi);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-q3EK4_J8RLHi);
}
